* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
}

.container {
	width: 1200px;
	padding: 0 20px 0 20px;
	margin: 0 auto;
}


/*Начало стилей шапки*/

.main_header {
	background-color: #eeeeee;
	min-height: 132px;
	font-size: 0px;
	padding: 0 0 98px 0;
}

.main_header_block {
	min-height: 65px;
	padding: 49px 0px 0 0;
}

.index_logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 200px 0 0;
}

.main_nav {
	display: inline-block;
	vertical-align: middle;
	margin: 0 200px 0 0;
}

.main_nav ul {
	list-style: none;
}

.main_nav_list {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	padding-right: 45px;
}

.main_nav_list a {
	display: inline-block;
	vertical-align: top;
	color: #000000;
	text-decoration: none;
}

.main_nav a:hover {
	color: #fb565a;
}

.main_nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

/*Почему не удаётся задать корзине ширину и отсутпы, как в макете?
	Она всё время съезжает на следующую строку.*/
.cart {
	display: inline-block;
	vertical-align: middle;
}

.cart_link {
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	padding-left: 40px;
	position: relative;
	line-height: 30px;
}

.cart_link::before {
	content: "";
	position: absolute;

	left: 1px;
	top: 8px;

	width: 15px;
	height: 15px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -10px -10px;

	opacity: 0.3;
}


.cart a:hover {
	color: #fb565a;
}

.cart a:active {
	color: rgba(0, 0, 0, 0.3);
}


/*Начало стилей слайдера*/

.slider {
	background-color: #eeeeee;
	margin: 0 0 80px 0;
	min-height: 413px;
	font-size: 0px;
	position: relative;
}

.slider_screen {
	display: inline-block;
	vertical-align: top;
	max-width: 380px;
	margin: 0px 51px 0 0;
}

.slider_screen_header {
	color: #000000;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	margin: 0 0 23px 0;
}

.slider_screen_text {
	color: #283136;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 41px 0;
}

.slider_screen_button {
	display: inline-block;
	padding: 19px 55px;

	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #fb565a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.slider_screen_button:hover {
	background-color: #e74246;
}

.slider_screen_button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.slider_image {
	display: inline-block;
	vertical-align: top;
}

.slide_two,
.slide_three {
	display: none;
}

.slider_points_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 70%;
	left: 50%;
}

.slider_points {
	margin: 0 17px 0 0;
	font-size: 16px;
	background-color: #ffffff;
	
	width: 18px;
	height: 18px;

	border-radius: 50%;
}


/*Начало стилей блока услуг*/

.features {
	font-size: 0px;
	margin: 0 0 155px 0;
}

.features_item_one {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 0 100px 0 0;
	font-size: 16px;
}

.features_item_two {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 0 100px 0 0;
	font-size: 16px;
}

.features_item_three {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	font-size: 16px;
}

.features_item_picture {
	margin: 0 0 26px 0;
}

.features_item_header {
	font-size: 24px;	
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.features_item_header {
	font-size: 24px;	
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	margin: 0 0 21px 0;
}

.features_item_text {
	font-size: 16px;	
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	margin: 0 0 35px 0;
}

.features_item_button_one {
	display: inline-block;
	padding: 20px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #fb565a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.features_item_button_one:hover {
	background-color: #e74246;
}

.features_item_button_one:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.features_item_button_two {
	display: inline-block;
	padding: 20px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #00ca74;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.features_item_button_two:hover {
	background-color: #00bc6c;
}

.features_item_button_two:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}

.features_item_button_three {
	display: inline-block;
	padding: 20px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #efc84a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.features_item_button_three:hover {
	background-color: #eab534;
}

.features_item_button_three:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}



/*Начало стилей блока о компании*/

.about {
	font-size: 0px;
	margin: 0 0 75px 0;
}

.about_left {
	display: inline-block;
	vertical-align: top;
	width: 660px;
	margin: 0 140px 0 0;
	font-size: 16px;
}

.about_header {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;
}

.about_right {
	display: inline-block;
	vertical-align: top;
	width: 360px;
}

.about_right_subtitle {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 17px;
}

.about_right_fact {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding-right: 17px;
	font-size: 16px;
}


/*Начало стилей блока с логотипами клиентов*/

.clients {
	font-size: 0px;
	min-height: 184px;
	margin: 0 0 80px 0;
}

.clients_list_logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 70px;
	list-style-type: none;
}


/*Начало стилей блока с контактами и картой*/

.contacts {
	display: inline-block;
	width: auto;
	position: relative;
	margin: 0 0 69px 0;
}

.contacts_info  {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	width: 319px;
	min-height: 308px;
	top: 54px;
	left: 65px;
	padding: 54px 0 0 49px;
	background-color: white;
}

.contacts_map {
	width: 100%;
}


/*Начало стилей футера*/

.main_footer {
	font-size: 0px;
}

.social_buttons {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	
	/*Потом нужно будет убрать*/
	width: 260px;
	margin: 0 140px 0 0;
}

.social_button {
	display: inline;
	list-style-type: none;
}

.social_text {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	background-color: tomato;
}


/*!———Начало стилей каталога———*/

.main_header_bg {
	background-color: #eeeeee;
	min-height: 164px;
	padding: 76px 0 0 0;
	margin: 0 0 60px 0;
}

.catalog_header {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
	text-align: center;
}

.main_area {
	font-size: 0px;
}


/*Начало стилей левой части страницы*/

.side_left {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin: 0 140px 0 0;
	font-size: 16px;
}

.radio input, 
.checkbox input {
	display: list-item;
}


/*Начало стилей правой части страницы*/

.side_right {
	display: inline-block;
	width: 760px;
	margin: 0 20px 60px 0;
	font-size: 16px;
}

.models_filters {
	margin: 0 0 55px 0;
}

.models_filters_text {
	display: inline-block;
	vertical-align: top;
	margin: 0 267px 0 0;
}

.models_filters_options {
	display: inline-block;
	vertical-align: top;
}

.models_filter_options_list {
	list-style-type: none;
}

.models_filters_options_list li {
	display: inline;
}

.models {
	margin-bottom: 60px;
}

.models_cards {
	display: inline-block;
	vertical-align: top;
	width: 360px;

	/*В макете отступ между карточками — 40 пикселей. 
	Если поставить такой отступ здесь, правая карточка съезжает 
	на вторую строку. Не могу понять, почему. Ширина блока — как 
	в макете, 760 пикселей.*/
	margin: 0 10px 0 0;
}

/*Поставил этой карточке в коде класс none. Не могу понять, как поставить 
её поверх макета Седоны. Явно же не через позишн абсолют?*/
.models_cards_more {
	position: absolute;
	width: 360px;
	background-color: #eeeeee;
}

.models_cards_more_none {
	display: none;
}

.pagination {
	display: inline-block;
	vertical-align: top;
}

.pagination li {
	display: inline;
	list-style-type: none;
}


/*Начало стилей для спрайтов*/

/*.sprite {
		background-image: url("img/sprite.png");
		background-repeat: no-repeat;
		display: block;
}

.sprite-cart {
		width: 15px;
		height: 15px;
		background-position: -10px -10px;
}

.sprite-checkbox_off {
		width: 23px;
		height: 23px;
		background-position: -10px -45px;
}

.sprite-checkbox_on {
		width: 27px;
		height: 23px;
		background-position: -10px -88px;
}

.sprite-social_button_fb {
		width: 12px;
		height: 22px;
		background-position: -10px -131px;
}

.sprite-social_button_inst {
		width: 21px;
		height: 21px;
		background-position: -10px -173px;
}

.sprite-social_button_vk {
		width: 26px;
		height: 15px;
		background-position: -10px -214px;
}
*/