* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
}

.container {
	width: 1200px;
	padding: 0 20px 0 20px;
	margin: 0 auto;
}




/*Начало стилей шапки*/

.main_header {
	background-color: #eeeeee;
	font-size: 0px;
}

.main_header_block {
	min-height: 65px;
	padding: 50px 0 0 0;
}

.index_logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 203px 0 0;
}

.main_nav {
	display: inline-block;
	vertical-align: middle;
}

.main_nav ul {
	list-style-type: none;
}

li.main_nav_list:last-child {
	padding: 0 0 0 0;
}

.main_nav_list {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	padding-right: 45px;
}

.main_nav_list a {
	display: inline-block;
	vertical-align: top;
	color: #000000;
	text-decoration: none;
}

.main_nav a:hover {
	color: #fb565a;
}

.main_nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.cart {
	float: right;
	margin: 23px 0 0 0;
}

.cart_link {
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	padding-left: 41px;
	position: relative;
	line-height: 30px;
}

.cart_link::before {
	content: "";
	position: absolute;

	left: 1px;
	top: 8px;

	width: 15px;
	height: 15px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -40px -40px;

	opacity: 0.3;
}


.cart a:hover {
	color: #fb565a;
}

.cart a:active {
	color: rgba(0, 0, 0, 0.3);
}


/*Начало стилей слайдера*/

.slider {
	background-color: #eeeeee;
	margin: 0 0 80px 0;
	min-height: 413px;
	font-size: 0px;
	position: relative;
	padding: 7px 0 0 0;
	clear: both;
}

.slider_screen {
	display: inline-block;
	vertical-align: top;
	max-width: 380px;
	margin: 59px 51px 0 0;
}

.slider_screen_header {
	color: #000000;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	margin: 0 0 25px 0;
}

.slider_screen_text {
	color: #283136;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 38px 0;
}

.slider_screen_button {
	display: inline-block;
	padding: 17px 55px;

	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #fb565a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.slider_screen_button:hover {
	background-color: #e74246;
}

.slider_screen_button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.slider_image {
	display: inline-block;
	vertical-align: top;
}

.slide_two,
.slide_three {
	display: none;
}

.slider_points_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 72%;
	left: calc(50% - 44px);
}

.slider_points {
	margin: 0 17px 0 0;
	background-color: #ffffff;
	
	width: 18px;
	height: 18px;

	border-radius: 50%;
}

.slider_points:last-child {
	margin: 0 0 0 0;
}

.slider_points_active {
	position: relative;
}

.slider_points_active:before {
	content: "";
	position: absolute;

	left: calc(50% - 4px);
	top: calc(50% - 4px);

	width: 4px;
	height: 4px;

	border: 2px solid #c2c2c2;
	border-radius: 50%;
}


/*Начало стилей блока услуг*/

.features {
	font-size: 0px;
	margin: 0 0 40px 0;
	border-bottom: solid 2px #eeeeee;
	padding: 0 0 80px 0;
}

.features_item_one {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 0 100px 0 0;
	font-size: 16px;
}

.features_item_two {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin: 0 100px 0 0;
	font-size: 16px;
}

.features_item_three {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	font-size: 16px;
}

.features_item_picture {
	margin: 0 0 18px 0;
}

.features_item_header {
	font-size: 24px;	
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	margin: 0 0 14px 0px;
}

.features_item_text {
	font-size: 16px;	
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	margin: 0 0 33px 4px;
}

.features_item_button_one {
	display: inline-block;
	padding: 16px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #fb565a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.features_item_button_one:hover {
	background-color: #e74246;
}

.features_item_button_one:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.features_item_button_two {
	display: inline-block;
	padding: 16px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #00ca74;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.features_item_button_two:hover {
	background-color: #00bc6c;
}

.features_item_button_two:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}

.features_item_button_three {
	display: inline-block;
	padding: 16px 40px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #efc84a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.features_item_button_three:hover {
	background-color: #eab534;
}

.features_item_button_three:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}

/*Начало стилей блока о компании*/

.about {
	font-size: 0px;
	margin: 0 0 73px 0;
}

.about_left {
	display: inline-block;
	vertical-align: top;
	width: 660px;
	margin: 0 140px 0 0;
	font-size: 16px;
}

.about_header {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;
	margin: 33px 0 33px 0;
}

.about_left_text {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: 400;
	margin: 0 0 39px 0;
}

.about_left_subtitle {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	margin: 0 0 24px 0;
	text-transform: uppercase;
}

.about_left_list {
	list-style-type: none;
}

.about_left_list_text {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: 400;
	margin: 0 0 24px 0;
	position: relative;
	padding: 0 0 0 36px;
}

.about_left_list_text:last-child {
	margin: 0 0 0 0;
}


.about_left_list_text:before {
	content: "";
	position: absolute;

	left: 1px;
	top: 11px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.about_right {
	display: inline-block;
	vertical-align: top;
	width: 360px;
}

.about_right_logo {
	margin: 0 0 24px 0;
}


.about_right_subtitle {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 41px 0;
}

.about_right_fact {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	padding-right: 120px;
}

/*Как правильно поднять наверх символы процентов? Я пока что в ХТМЛ <sup> прописал.*/
.about_right_number {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 700;
	margin: 0 0 19px 0;
}

.about_right_number sup {
	top: -14px;
	font-size: 27px;
}

.about_right_text {
	font-size: 16px;
	line-height: 18px;
	color: #283136;
	font-weight: 400;
}


/*Начало стилей блока с логотипами клиентов*/

.clients {
	font-size: 0px;
	min-height: 180px;
	margin: 0 0 62px 0;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.clients_list {
	list-style-type: none;
	padding: 48px 0;
}

.clients_list_logo {
	display: inline-block;
	vertical-align: middle;
}

.clients_list_logo_academy {
	padding: 0 96px 0 31px;
	position: relative;
}

.clients_list_logo_academy:after {
	content:"";
	position: absolute;

	left: 280px;
	top: calc(50% - 60px);

	width: 2px;
	height: 52px;

	background-color: #eeeeee;
}

.clients_list_logo_academy img {
	opacity: 0.2;
}

.clients_list_logo_academy img:hover {
	opacity: 1;
}

.clients_list_logo_academy img:active {
	opacity: 0.1;
}

.clients_list_logo_barbershop {
	padding: 0 103px 0 0;
	position: relative;
}

.clients_list_logo_barbershop:after {
	content:"";
	position: absolute;

	left: 253px;
	top: calc(50% - 75px);

	width: 2px;
	height: 52px;

	background-color: #eeeeee;
}

.clients_list_logo_barbershop img {
	opacity: 0.2;
}

.clients_list_logo_barbershop img:hover {
	opacity: 1;
}

.clients_list_logo_barbershop img:active {
	opacity: 0.1;
}

.clients_list_logo_pink {
	padding: 0 121px 0 0;
	position: relative;
}

.clients_list_logo_pink:after {
	content:"";
	position: absolute;

	left: 242px;
	top: calc(50% - 56px);

	width: 2px;
	height: 52px;

	background-color: #eeeeee;
}

.clients_list_logo_pink img {
	opacity: 0.2;
}

.clients_list_logo_pink img:hover {
	opacity: 1;
}

.clients_list_logo_pink img:active {
	opacity: 0.1;
}

.clients_list_logo_mishka img {
	opacity: 0.2;
}

.clients_list_logo_mishka img:hover {
	opacity: 1;
}

.clients_list_logo_mishka img:active {
	opacity: 0.1;
}


/*Начало стилей блока с контактами и картой*/

.contacts {
	width: auto;
	position: relative;
	margin: 0 0 62px 0;
}

.contacts_info  {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	width: 319px;
	min-height: 308px;
	top: calc(50% - 159px);
	left: calc(50% - 580px);
	padding: 48px 0 0 50px;
	background-color: white;
}

.contacts_info_header {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 23px 0;
}

.conacts_info_text {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	font-weight: 400;
	margin: 0 0 18px 0;
}

.conacts_info_number {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	font-weight: 400;
	margin: 0 0 35px 0;
}

.conacts_info_button {
	display: inline-block;
	padding: 17px 45px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	font-family: Roboto, Arial, sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: #fb565a;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.conacts_info_button:hover {
	background-color: #e74246;
}

.conacts_info_button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.contacts_map {
	width: 100%;
}


/*Начало стилей футера*/

.main_footer {
	font-size: 0px;
	padding: 0 0 69px 0;
}

.social_buttons {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.social_buttons ul {
	list-style-type: none;
	margin: 0 139px 0 0;
}

.social_button {
	display: inline-block;
	vertical-align: middle;
}

.social_button_image {
	display: inline-block;
  width: 79px;
  height: 79px;
  margin: 0 9px 0 0;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #e1e1e1 url("../img/sprite.png") no-repeat center;
  border-radius: 50%;
}

.social_button_vk {
  background-position: -15px -713px;
}

.social_button_fb {
	background-position: -7px -312px;
}

.social_button_inst {
	background-position: -11px -516px;
	margin-right: 0px;
}

.social_button_image:hover {
	background-color: #e74246;
}

.social_button_image:active {
	background-color: #d7373b;
}

.social_button_vk:active {
  background-position: -15px -808px;
}

.social_button_fb:active {
	background-position: -7px -414px;
}

.social_button_inst:active {
	background-position: -11px -617px;
}

.social_text {
	display: inline-block;
	vertical-align: top;
}

.social_text_header {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	margin: 5px 0 10px 0;
}

.social_text_text {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}


/*!———Начало стилей каталога———*/

.main_header_bg {
	background-color: #eeeeee;
	padding: 65px 0 110px 0;
	margin: 0 0 62px 0;
}

.catalog_header {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
	text-align: center;
	margin: 0 0 0 0;
}

.main_area {
	font-size: 0px;
	margin: 0 0 60px 0;
}

/*Начало стилей левой части страницы*/

.side_left {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin: 0 140px 0 0;
}

.filter_text {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter_text_price {
	margin: 0 0 57px 0;
}


/*Начало стилей ползунка*/

.range_filter {
  width: 260px;
  margin: 0 0 62px 0;
}

.range_controls {
  position: relative;
  height: 41px;
  padding: 42px 20px 38px 20px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  background: #f1f1f1;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  box-sizing: initial;
  width: 4px;
  height: 4px;
  top: calc(50% - 8px);
  left: 0px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle_min {
  left: 20px;
}

.toggle_max {
  left: 160px;
}

.price_controls {
  font-size: 0;
}

.price_controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.min_price {
	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.max_price {
  text-align: right;
  line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.price_controls input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 80px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}


/*Начало стилей радиокнопки*/

.filter_text_grid {
	margin: 0 0 22px 0;
}

.radio {
	margin: 0 0 52px 0;
	font-size: 16px;
	line-height: 22px;
}

.radio_button {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 36px;
  margin: 0 0 15px 0;
  display: list-item;
	list-style-type: none;
	color: #283136;
}

.radio_button input[type="radio"] {
  display: none;
}

.radio_indicator {
  position: absolute;
  top: 0;
  left: 1px;

  width: 24px;
  height: 24px;

  border: 3px solid #b8b8b8;
  border-radius: 50%;
  margin: 0 0 0 0;
}

.radio_button:hover {
	color: #000;
}

.radio_button:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.radio_button:hover .radio_indicator {
  border: 3px solid #000;
}

.radio_button:disabled .radio_indicator {
  border: 3px solid #ededed;
}

.radio_button input[type="radio"]:checked + .radio_indicator:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
 
  width: 10px;
  height: 10px;

	border-radius: 50%;
  background-color: #b8b8b8;
}

.radio_button input[type="radio"]:checked:hover + .radio_indicator:before {
  background-color: #000;
}

.radio_button input[type="radio"]:checked:disabled + .radio_indicator:before {
  background-color: #ededed;
}


/*Начало стилей чекбоксов*/

.filter_text_special {
	margin: 0 0 22px 0;
}

.checkbox {
	margin: 0 0 49px 0;
	font-size: 16px;
	line-height: 20px;
}

.checkbox_button {
	display: list-item;
	list-style-type: none;
	position: relative;
  cursor: pointer;
  padding: 0 0 0 36px;
  margin: 0 0 8px 0;
	color: #283136;
	min-height: 27px;
}

.checkbox_button input[type="checkbox"] {
  display: none;
}

.checkbox_indicator {
	position: absolute;

	left: 1px;
	top: 0;

	width: 27px;
	height: 23px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -40px -135px;

	opacity: 0.4;
}

.checkbox_button:hover {
	color: #000;
}

.checkbox_button:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.checkbox_button:hover .checkbox_indicator {
  opacity: 1;
}

.radio_button:disabled .checkbox_indicator {
  opacity: 0.2;
}

.checkbox_button input[type="checkbox"]:checked + .checkbox_indicator {
	position: absolute;

	left: 1px;
	top: 0;

	width: 27px;
	height: 23px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -40px -238px;

	opacity: 0.4;
}

.checkbox_button input[type="checkbox"]:checked:hover + .checkbox_indicator {
  opacity: 1;
}

.checkbox_button input[type="checkbox"]:checked:disabled + .checkbox_indicator {
  opacity: 0.2;
}


/*Начало стилей правой части страницы*/

.side_right {
	display: inline-block;
	width: 760px;
	font-size: 0;
}

.models_filters {
	margin: 0 0 57px 0;
}

.models_filters_text {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

/*Не могу понять, почему высота этого элемента отображается в инспекторе как 25 пикселей*/
.models_filters_list {
	float: right;
}

.models_filters_list li {
	display: inline;
	margin: 0 26px 0 0;
}

.models_filters_list li:nth-child(3) {
	margin: 0 50px 0 0;
}

.models_filters_list li:nth-child(4) {
	margin: 0 20px 0 0;
}

.models_filters_list li:last-child {
	margin: 0 0 0 0;
}

.models_filters_buttons {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.models {
	margin-bottom: 60px;
}

.models_cards {
	display: inline-block;
	vertical-align: top;
	margin: 0 40px 36px 0;
}

.models_cards:nth-child(even) {
	margin: 0 0 0 0;
}

.models_cards:nth-child(5) {
	margin: 0 40px 0 0;
}

.models_cards_browser {
	width: 360px;
	height: 41px;
	background-color: #e9e9e9;
	border-radius: 5px 5px 0 0;
	position: relative;
}

.browser_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: calc(50% - 7px);
	left: 16px;
}

.browser_points {
	margin: 0 9px 0 0;
	background-color: #ffffff;
	
	width: 14px;
	height: 14px;

	border-radius: 50%;
}

.browser_points:last-child {
	margin: 0 0 0 0;
} 

.models_cards_model {
	border: 1px solid #e5e5e5;
}


/*Поставил этой карточке в коде класс none. Не могу понять, как поставить 
её поверх макета Седоны. Явно же не через позишн абсолют?*/
.models_cards_more {
	position: absolute;
	width: 360px;
	background-color: #eeeeee;
}

.models_cards_more_none {
	display: none;
}

.pagination {
	display: inline-block;
	vertical-align: top;
}

.pagination li {
	display: inline;
}

.pagination_button_link_active {
	width:50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;

	margin: 0 11px 0 0;

	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	text-align: center;
	padding-top: 10px;
	
	border: 3px solid #dbdbdb;
	border-radius: 3px;
	cursor: pointer;


}

.pagination_button_link {
	width:50px;
	height: 50px;
	display: inline-block;

	margin: 0 11px 0 0;

	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	text-align: center;
	padding-top: 13px;
	
	background-color: #eeeeee;
	border-radius: 3px;
	cursor: pointer;
}

.pagination_button_link_next {
	width: 260px;
	height: 50px;
	display: inline-block;

	margin: 0 0 0 0;

	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	text-align: center;
	padding-top: 13px;
	
	background-color: #eeeeee;
	border-radius: 3px;
	cursor: pointer;
}


/*Начало стилей для спрайтов

/*.sprite {
		background-image: url("img/sprite.png");
		background-repeat: no-repeat;
		display: block;
}

.sprite-cart {
		width: 15px;
		height: 15px;
		background-position: -10px -10px;
}

.sprite-checkbox_off {
		width: 23px;
		height: 23px;
		background-position: -10px -45px;
}

.sprite-checkbox_on {
		width: 27px;
		height: 23px;
		background-position: -10px -88px;
}

.sprite-social_button_fb {
		width: 12px;
		height: 22px;
		background-position: -10px -131px;
}

.sprite-social_button_inst {
		width: 21px;
		height: 21px;
		background-position: -10px -173px;
}

.sprite-social_button_vk {
		width: 26px;
		height: 15px;
		background-position: -10px -214px;
}
*/